* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191970
}

#menu {
    background-color: #FF4500;
    padding-left: 20px;
}
 
#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    text-decoration: none;
    color: #FFD700;
    padding: 20px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
}


h2 {
    text-align: center;
    font-size: 29px;
}
