* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cofigurações do menu*/
#menu {
    text-align: center;
    background-color: #FF4500;
    padding-left: 20px;
}
 
#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    text-decoration: none;
    color: #FFD700;
    padding: 30px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#menu ul li a:hover {
    background-color: #191970;
    color: #b187fe;
    box-shadow: 0 0 10px #020103;
}
/*termino do menu*/

h2 {
    font-familY: verdana;
    text-align: center;
    font-size: 40px;
}

#inicio {
  height: 100vh; /* ocupa a tela toda */
  background-image: url("img/img.png"); 
  background-size: cover; /* cobre toda a tela */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 25px; 
}

.conteudo {
  background: rgba(0,0,0,0.5); 
  padding: 20px;
  border-radius: 10px;
}

.botao {
    display: inline-block;
    margin-top: 50px;
    padding: 12px 24px;
    background: #FF4500;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}



/*Ainda falta arrumar*/
.botao:hover {
    background-color: #191970;
    color: #b187fe;
    box-shadow: 0 0 10px #020103;
}